<div class="center jumbotron">
  <h1>Alpha Blog</h1>
  <p>...</p>
    <p><a class="btn btn-danger btn-lg btn-xlarge" href="#" role="button">Sign up</a></p>
</div>



<%= link_to "Back to articles listing", articles_path %>

<h1>Welcome</h1>


<% if @article.errors.any? %>
    <h2>The following errors prevented the article from getting created</h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>


<%= form_for @article do |f| %>

    <p>
      <%= f.label :name ,class: "test",id:"45"%></br>
      <%= f.text_field :name %>
    </p>


    <p>
      <%= f.label :description %></br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.submit %>
    </p>


<% end %>